/*
////Colors////
Dark Grey:  #636466 50%   25%
Gold:       #B6A269 75%   50%
Blue:       #007396 75%   50%
Purple:     #642667 75%   50%
Red:        #862633 75%
Yellow:     #F1C400 75%   50%
Orange:     #D45D00 75%   50%
Green:      #84BD00 75%   50% 

////FONTS////
//Franklin Gothic URW
//HTML: <link rel="stylesheet" href="https://use.typekit.net/jrl4ewy.css">
//CSS: font-family: franklin-gothic-urw, sans-serif;
//Types: Light, Book, Book Italic, Medium, Medium Italic, Demi, Demi Italic, Heavy, Heavy Italic

//ITC New Baskerville
//HTML: <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
//CSS: font-family: 'Libre Baskerville', serif;
//Types: Roman, Italic, Semibold, Semibold Italic, Bold, Bold Italic
*/

/*
////elements////
h1
h2
h3
header
main
body
section
img
div
p
button
////ids////
#section-one
#section-two
#section-three
#section-four
////classes////
.bio-section
.bio-text

/*Use On All Projects*/
* {
  box-sizing: border-box;
}
  
main {
  background-color: #B6A269;
}

header {
  background-color: white;
  display: flex;
  flex-grow: 1;
}

.container {
  max-width: 1440px;
  justify-self: center;
  margin: auto;
  background-color: white;
}

body, button {
  font-family: 'Libre Baskerville', serif;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 15;
}

h1 {
  margin: auto;
  width: 100%;
  text-align: left;
  padding: 10px;
  font-size: 32px;
}


h3 {
  font-size: 22px;
}

p {
  font-size: 18px;
  line-height: 22px;
}
  
button:hover {
   cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  height: 100px;
  border-bottom: 2px solid black;
  padding-top: 50px;
}

.title-header {
  vertical-align: middle;
}

section {
  padding: 20px;
}

#section-one h2, #section-three h2 {
  font-size: 34px;
  color: black;
}

#section-two h2, #section-four h2 {
  font-size: 34px;
  color: #862633;
  text-shadow: 1pt 1pt rgba(0, 0, 0, 0.432);
}

#section-two button, #section-four button {
  background-color: white;
  color: black;
}

#section-one button, #section-three button {
  background-color: white;
  color: black;
}

#section-one, #section-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0073964b;
  color: black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#section-two, #section-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #6364664d;
  color: black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  /*
  Dark Grey:  #636466 50%   25%
  Gold:       #B6A269 75%   50%
  Blue:       #007396 75%   50%
  Purple:     #642667 75%   50%
  Red:        #862633 75%
  Yellow:     #F1C400 75%   50%
  Orange:     #D45D00 75%   50%
  Green:      #84BD00 75%   50%
*/ 
}

.bio-pic {
  align-self: center;
}

img {
  height: 256px;
  width: 256px;
  border-radius: 50%;
  border: 4px black solid;
}

.bio-text h2 {
  margin-bottom: 5px;
}

.bio-text h3 {
  margin-top: 5px;
  border-bottom: 1px solid black;
}

.bio-text p {
  margin-top: 3px;
  margin-bottom: 25px;
}

.bio-text {
  display: flex;
  flex-direction: column;
}

button {
  height: 50px;
  width: 150px;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 3px 3px darkgrey;
  align-self: center;
  font-size: 18px;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media screen and (min-width: 1024px) {
  #section-one, #section-three {
    display: flex;
    flex-direction: row;
  }

  #section-two h2, #section-two h3, #section-four h2, #section-four h3 {
    text-align: right;
  }

  #section-two, #section-four {
    display: flex;
    flex-direction: row-reverse;
  }

  .bio-pic, .bio-text {
    margin: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    border-left: 4px solid black;
    border-right: 4px solid black;
  }
}